dotenv
export TF_VAR_OJICHAN_DISCORD_TOKEN=$OJICHAN_DISCORD_TOKEN
export TF_VAR_OJICHAN_DISCORD_CHANNEL_ID=$OJICHAN_DISCORD_CHANNEL_ID
export TF_VAR_OJICHAN_EMOJI_NUM=$OJICHAN_EMOJI_NUM
export TF_VAR_OJICHAN_UNCTUATION_LEVEL=$OJICHAN_UNCTUATION_LEVEL
export TF_VAR_SAKURACLOUD_APPRUN_USER=$SAKURACLOUD_APPRUN_USER
export TF_VAR_SAKURACLOUD_APPRUN_PASSWORD=$SAKURACLOUD_APPRUN_PASSWORD
